{{# each products }}

    <div class="row">
        {{# each this }}
           <div class="col-sm-6 col-md-4">
               <div class="thumbnail">
                   <img src="{{this.imagePath}}" alt="....">
                   <div class="caption">
                     <h3>"{{this.title}}"</h3>
                     <p class="description">"{{this.Description}}"
                     </p>
                     <div class="clearfix">
                        <div class="price">"{{this.Price}}"</div>
                     <a href="#" class="btn btn-success pull-righ" role="button">Add To shopping Card</a>
                    </div>
               </div>
        </div>
           </div>
        {{/each}}
    </div>
{{/each}}
  
   
